<!DOCTYPE html>
<title>Real estate notifier</title>
<h3>Enter urls of real estate agents here</h3>
example:<br>
https://www.realtor.com/realestateagents/andrew-rusca_alameda_ca_3759439_577064397<br>
https://www.realtor.com/realestateagents/vanessa-bermudez_san-jose_ca_3466756_180469108
<br>
<br>

<form method=post enctype=multipart/form-data>
    <textarea id="urls" name="urls" rows="28" cols="140"></textarea><br>
    Password: <input type="text" id="pw" name="pw">
    <input type=submit value="Submit">
</form>
</html>